<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<html lang="pt-BR">
    <head>
        {% include head.html %}
    </head>
    <body>
        <header>{% include nav.html %}</header>
        <main class="container">
            <article class="post">
                <h1>{{ page.title }}</h1>
                <div class="post-meta">
                    <time datetime="{{ page.date | date_to_xmlschema }}">
                        {{ page.date | date: "%d de %B de %Y" }}
                    </time>
                    {% if page.categories %}
                        <span> • {{ page.categories | join: ', ' }}</span>
                    {% endif %}
                </div>
                <div class="post-content">
                    {{ content }}
                </div>
            </article>
        </main>
        <footer class="minimal-footer">© 2025 ncbor</footer>
    </body>
</html>
